#facebook-wrapper{
	/* If we need whole page styles */
	background-color: #E9EBEE;
	z-index: -2;
	position: relative;
	font-family: helvetica;
}

img{
	max-width:  100%;
}

#header{
	background-color: #3B5998;
	overflow: hidden;
	width: 100%;
	height: 43px;
}

#header-inner{
	max-width:  900px;
	margin: auto;
	margin-top: 10px;
}

#left-header{

}

#fb-logo{
	height:  24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	background-position: 0px -163px;
	border-radius: 3px;
}

#fb-logo, #fb-search{
	float: left;
	margin-left: 5px;
	border-radius: 3px;
}

#fb-search input{
	border-radius:  0px;
	width: 400px;
	height: 18px;
	font-family: helvetica;
	border-radius: 3px;
	font-family: helvetica;

}

#right-header{
	float: right;
}

#right-header div{
	float: left;
}

#small-avatar{
	height: 24px;
	width: 24px;
}

/* This is a catch-all for all three social icon divs */
.social-icon{
	height:  24px;
	width: 24px;
	background-image: url('fb_sprite.png');
	background-size: 26px 905px;
	margin-left: 20px;
}

#avatar-name{
	color: white;
	margin: 5px;
	font-family: helvetica;
	font-size: 14px;
}

a:link{
	color: white;
	font-family: helvetica;
	font-size: 14px;

}

#homelink{
	color: white;
	margin: 5px;
	font-family: helvetica;
	font-size: 12px;
}

/* This is specific to the friends div */
.friends{
	background-position: 0 -188px;
}

/* This is specific to the messages div */
.messages{
	background-position: 0 -338px;
}

/* This is specific to the notifications div */
.notifications{
	background-position: 0 -238px;
}

.lock{
	background-position: 0 -859px;
	height: 16px;
	/* This will override social-icon margin */
	margin-left: 10px;
	margin-top: 10px;
}

.down-arrow{
	background-position: 0 -825px;
	height: 16px;
	margin-top: 10px;
}

.spacer{
	line-height: 25px;
	margin:  0 10px;
	overflow: hidden;
	font-size: 50px;
	width: 5px;
}

#cover-photo-wrapper{
	max-width: 900px;
	margin:  auto;
	width: 100%;	
	height: 400px;

}

#cover-photo{
	max-height: 358px;
	overflow: hidden;
	border: solid black 1px;
	}


#cover-photo img{
	width: 100%;
	z-index: 0;
	height: 700px;
}

#personal-info-wrapper{
	z-index: 1;
	margin-top:  -60px;
	margin-bottom: 60px;
	position: relative;

}

#big-avatar{
	height: 168px;
	width: 168px;
	float: left;
	margin-top: -70px;
	margin-left: 20px;
	background-color: white;
	position: relative;
	border-radius: 3%;
	border: solid black 1px;
}

#big-avatar img{
	height:  160px;
	width:  160px;
	border-radius: 3%;
	position: relative;
	margin-top: 4px;
	margin-left: 4px;
}

#big-avatar-name{
	float:  left;
	padding: 10px;
	margin-right: 10px;
	font-family: helvetic, arial, sans-serif;
	font-size: 26px;
	color: white;
	margin-top: 15px;
}

#cover-buttons{
	float: right;
	margin-right: 10px;
	margin-top: 15px;
	display: inline-block;
	box-sizing: content-box;
	text-align: center;
}

button{
	padding: 5px 23px;
	text-align: center;
	display:  inline-block;
	font-size: 12px;
	font-family: helvetica-bold;
	line-height: 22px;
}

#cover-menu{
	float: left;
	font-family: helvetic-bold, arial, sans-serif;
	margin-left: 200px;
	position: absolute;
	width: 800px;

}

.cover-menu-item{
	float: left;
	display: inline-block;
	padding: 10px;
	list-style-type: none;
	color: #3B5998;
	font-family: helvetica-bold;
}

.spacer2{
	line-height: 45px;
	margin:  0 5px;
	float: left;
	color: #E0C9BB ;
	display: inline-block;
	font-size: 55px;
	width: 5px;
	overflow: hidden;
}


#white-behind{
	background-color: white;
	width: 898px;
	height: 45px;
	border: solid #E0C9BB 1px;
	margin: auto;
	z-index: -1;
	position: relative;
}

body{
	background-color: #E9EBEE;
	width: 100%
	max-width: 900px;
	color: #3B5998;
	font-family: helvetica-bold;
}

#intro-box{
	float: left;
	background-color: white;
	width: 360px;
	height: 559px;
	margin-top: 15px;
	border: solid #E0C9BB 1px;
}
	
	#foreword{
		border-bottom: solid #E0C9BB 1px;
		font-family: helvetica-bold;
		margin-top: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		width: 330px;
	}
	
	.intro-item{
	display: block;
	padding: 10px;
	list-style-type: none;
	color: #3B5998;
	font-family: helvetica;
	font-size: 12px;
}



#status-box{
	float: right;
	background-color: white;
	width: 512px;
	height: 180px;
	margin-top: 15px;
	border: solid #E0C9BB 1px;
	color: #3B5998;
	font-family: helvetica-bold;
}

	#mid-avatar{
	height: 40px;
	width: 40px;
	margin: 10px;
	display: inline-block;
	}
	
	#status-type{
		border-bottom: solid #E0C9BB 1px;
		margin: auto;
		margin: 5px;
		padding: 5px;
	}

	#prompt{

	}
	
	#prompt-text{
		display: inline-block;
		margin: 10px;
		margin-bottom: 3px;
		vertical-align: top;
	}
	
	#actions{
		float: right;
		border-top: solid #E0C9BB 1px;
		margin-right: 15px;
		width: 490px;
	}

		#action-buttons{
			float: right;
		}

#photo-box{
	float: left;
	clear: left;
	height: 200px;
	width: 360px;
	background-color: white;
	margin-top: 15px;
	border: solid #E0C9BB 1px;
	font-family: helvetica-bold;
}

#photo-inner{
	margin: 20px;
}

#friends-box{
	float: left;
	clear: left;
	height: 200px;
	width: 360px;
	background-color: white;
	margin-top: 15px;
	border: solid #E0C9BB 1px;
	font-family: helvetica-bold;
}
#friends-inner{
	margin: 20px;
}

#timeline-box{
	float: right;
	background-color: white;
	width: 512px;
	height: 800px;
	margin-top: 15px;
	border: solid #E0C9BB 1px;
	color: #3B5998;
	font-family: helvetica-bold;
}

#timeline-inner{
	margin: 20px;
}

#friends-box{
	float: left;
	clear: left;
	background-color: white;
}





#footer{
	position: relative;
	float: left;
	background-color: #3B5998;
	overflow: hidden;
	width: 100%;
	height: 43px;
	margin: auto;
	margin-top: 10px;
	vertical-align: bottom;
}







